.gdp {
  .gdptext {
    position: absolute;
    top: 18vh;
    left: 2vw;
    font-size: 25px;
    text-align: auto;
    font-family: 'Courier New', Courier, monospace;
    line-height: 5vh;
    width: 25vw;
  }
}
